<launch>
  <arg name="bag_filenames" default="/ssd/maps/latest.bag"/>
  <arg name="pose_graph_filename" default="/ssd/maps/latest.pbstream"/>
  <arg name="urdf_filename" default="$(find turtlebot_description)/robots/kobuki_hexagons_astra.urdf"/>

  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename assets_writer_ros_map.lua
          -urdf_filename $(arg urdf_filename)
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)"
      output="screen">
  </node>
</launch>