<launch>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find cartographer_turtlebot)/configuration_files
          -configuration_basename turtlebot_urg_lidar_2d.lua"
      output="screen">
    <!--remap from="points2" to="/camera/depth/points" /-->
  </node>

</launch>
